@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Tilt+Neon&display=swap');

/*

font-family: 'Quicksand', sans-serif;
font-family: 'Tilt Neon', cursive;

*/

/*
    CSS Styling Guide:

 -  General Styling
 -  Navbar Styling
 -  Hero Image Styling
 -  Web Intro Styling
 -  Menu Category Styling
 -  Why Us section Styling
 -  Store hours Styling
 -  Footer styling
 -  Media Queries 
    - Media Queries for index.html


*/

/** START OF GENERAL STYLING **/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --darkgray:  #1b1b1b;
    --lightgray: #5b5b5b;
    --lightred:  #f81528;
    --darkgold: rgb(230, 197, 12);
}

html{
    height: 100%;
    animation: transitionIn .5s;
}

/* Will create a transition after reloading the page / first visiting a page*/
@keyframes transitionIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}

body{
    min-height: 100%;
    font-family: 'Quicksand', sans-serif;
}

    /* The whole purpose of this is to remove horizontal scrolling on smaller viewports*/
.wrapper{
    overflow: hidden;
}

header{
    /* The whole purpose of this is to remove horizontal scrolling on smaller viewports*/
    /* overflow: hidden; */
}

.special-h-style{
    color: var(--lightred);
    font-family: 'Tilt Neon', cursive;
}

h2{
    color: var(--darkgold);
    margin: 1em;
}

/** END OF GENERAL STYLING **/

/** START OF NAVBAR STYLES **/

#main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--darkgray);
    width: 100%;
    top: 0;
    position: fixed;
    overflow: hidden;
    z-index: 999999;
}

/* This just creates the circle for the "MonMon" */
.nav-logo{
    border: 2px solid red;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    margin: 0 4rem;
}

.nav-logo p{
    font-size: 1.5rem;
    letter-spacing: 2px;
}

/*Logo link is both the text and the circle*/
/* The logo is also a way to get back to the homepage of the site by clicking on it so that's why it is also a link*/
.logo-link{
    font-family: 'Tilt neon', cursive;
    text-decoration: none;
}

/* Styles for the navigation links "Home Menu Contact"*/
.nav-menu{
    display: flex;
    list-style: none;
    text-align: right;
}

#main-nav ul li{
    margin: 0 2rem;
}

#main-nav ul li a{
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    font-size: 1.1rem;
}

#main-nav ul li a:hover{
    color: var(--lightred);
    transition: color .2s;
}

/* Creates a line below the links fades in at hovering and out when not */
#main-nav ul li a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

#main-nav ul li a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}

#main-nav ul li a:active{
    color:  #d11322;
}


/** START OF HAMBURGER BUTTON FOR COLLAPSIBLE NAVBAR **/
/* Contains the actual hamburger button*/
.hamburger-btn{
    display: none;    /*So that it doesn't show on larger viewports*/
    position: absolute;
    right: 2rem;
    cursor: pointer;
}

.bar{
    display: block;
    width: 1.8rem;
    height: .2rem;
    margin: .5em;
    border-radius: 5px;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    background-color: white;
  }

/** END OF HAMBURGER BUTTON FOR COLLAPSIBLE NAVBAR **/


/** END OF NAVBAR STYLES **/


/** BEGINNING OF Hero image and hero text styling section **/

.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.568)), url(https://images.unsplash.com/photo-1617196034738-26c5f7c977ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 80vh;
    width: 100%;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text p{
    margin: 1em;
    font-size: 1.3rem;
}


/** END OF HERO IMAGE OF THE SITE STYLE **/     

/** START OF MAIN CONTENT **/

/**  START OF WEB INTRO STYLING **/
.web-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em;
}

.web-intro h2{
    letter-spacing: 1.2px;
}

.web-intro p{
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 1.5;
    width: 75%;
}
/**  END OF WEB INTRO STYLING **/

/** START OF MENU CATEGORY STYLING **/
.menu-category-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 1.5em;
}

/* Where the actual circles are contained */
.category-container{
    display: flex;
    padding: 2em;
}

.menu-category-item-container a{
    text-decoration: none;
}

/*The circle where the menu image is contained */
.menu-category-item-container div{
    border-radius: 50%;
    width: 125px;
    height: 125px;
    margin: 1.2em;
    transition: all .2s ease-in-out;
}

.menu-category-item-container div:hover{
    transform: scale(1.3); 
}

.sushi-img{
    background: url(https://images.unsplash.com/photo-1562158074-d49fbeffcc91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    /* By Luigi Pozzoli*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sides-img{
    background: url(https://images.unsplash.com/photo-1579887829114-282b4fa31072?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    /* By Jonathan Borba*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.desserts-img{
    background: url(https://images.unsplash.com/photo-1563805042-7684c019e1cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80);
    /* By Emile Mbunzama*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.drinks-img{
    background: url(https://images.unsplash.com/photo-1527762055594-4956c0c8c617?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
    /* By Mgg Vitchakorn*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Button styling for viewing the full menu*/
.view-menu{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 1em;
    border-radius: 10px;
    width: 15%;
}

/** END OF MENU CATEGORY STYLING **/

/** START OF "Why?" Section STYLING **/
.why-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: rgb(248, 245, 238);
}

.why-section-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4em;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.video-container{
    margin: 0 auto;
    width: 400px;
    height: 300px;
}

.video-container iframe{
    width: 100%;
    height: 100%;
}


/** END OF "Why?" Section STYLING **/

/** START OF STORE HOURS STYLING **/
.store-hours{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    flex-direction: column;
    margin-bottom: 4em;
}


.table-container th, td{
    text-align: center;
    border: 2px black dotted;
    padding: 1em;
    text-align: center;
    border-radius: 2px;
}

.last-call-cell{
    font-weight: 700;
    border: 1px solid black;
}

.monThu-time-cell, .friSat-time-cell{
    border: 1px solid black;
}


/** END OF STORE HOURS STYLING **/


/** END OF MAIN CONTENT**/

/** ATTRIBUTION INSIDE IMAGE USED **/
/* For attribution purposes for the images that I have used */
/* The img-container and the img-attrib is for the attribution for the images; the styles that are inside is makes it so that the text is on top of the image. */
.img-container{
    position: relative;
    display: inline-block;
}

.img-attrib {
    font-size: .7rem;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 .5em .5em 0; /*right .5em bottom .5em*/
    padding: .25em;
    color: white;
    background-color: rgba(0, 0, 0, .2) /* black with the opacity of .2*/
}

/** END OF ATTRIBUTION INSIDE IMAGE USED **/


/** START OF FOOTER STYLING **/
footer{
    background-color: var(--lightgray);
    height: 5rem;
    width: 100%
}

/** END OF FOOTER STYLING **/




/** MEDIA QUERIES **/
/** Media query for navigation bar**/
@media only screen  and (max-width: 1024px){
    /* Hamburger button will appear and animates once clicked using JS*/
    .hamburger-btn{
        display: block;
    }
    .hamburger-btn.active .bar:nth-child(1){
        transform-origin: bottom;
        transform: rotateZ(45deg) translateX(5px)translateY(5px);
    }
    .hamburger-btn.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger-btn.active .bar:nth-child(3){
        transform-origin: bottom;
        transform: rotateZ(-45deg) translateX(12px)translateY(-10px);
    }

    .nav-menu{
        padding: 1.5rem;
        z-index: 99999;
        position: fixed;
        right: -100%;
        top: 90px;
        gap: 1.5rem;
        flex-direction: column;
        align-items: center;
        background-color: #262626;
        width: 80%;
        transition: 0.3s;
        height: 100vh;
        opacity: 95%;
    }
    .nav-link{
        margin: 2em;
    }
    .nav-menu.active{
        right: 0;
    }    
}

/** Media Queries for INDEX.HTML !!**/
@media only screen  and (max-width: 360px){
    .category-container{
        flex-direction: column;
    }
    .view-menu{
        width: 40%;
    }

    .why-section-content{
        grid-template-columns: 1fr;
    }

    .why-section-content p{
        padding: 0 4em;
    }

    .video-container{
        padding: 0 4em;
    }
}

@media only screen and (min-width: 361px) and (max-width: 768px){
    .category-container{
        flex-direction: column;
    }
    .view-menu{
        width: 40%;
    }

    .why-section-content{
        grid-template-columns: 1fr;
    }

    .why-section-content p{
        padding: 0 4em;
    }

    .video-container{
        padding: 0 4em;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .why-section-content{
        grid-template-columns: 1fr;
    }
}
